<%include ../header.ejs%>
<div ng-app="patient_panel" ng-controller="patientPanelCtrl">
  <nav class="navbar navbar-default" role="navigation">

    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Medical Documents</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Profil
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <li><a href="/logout">Wyloguj</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">

      <div class="col-xs-5">
        <div class="panel panel-primary">
          <div class="panel-heading"><strong>Wszyscy lekarze</strong></div>
          <div class="panel-body">

            <select multiple="" class="form-control" ng-model="fromRestDoctors" ng-options="doctor.first_name +' '+ doctor.last_name +' '+doctor.speciality for doctor in restDoctors"></select>

          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="panel panel-primary">
          <div class="panel-body">
            <button type="button" class="btn btn-primary" ng-click="addDoctors(fromRestDoctors)">Dodaj</button>
            <button type="button" class="btn btn-primary" ng-click="removeDoctors(fromPatientDoctors)">Usuń</button>

          </div>
        </div>
      </div>

      <div class="col-xs-5">
        <div class="panel panel-primary">
          <div class="panel-heading"><strong>Lekarze z dostępem</strong></div>
          <div class="panel-body">

            <select multiple="" class="form-control" ng-model="fromPatientDoctors" ng-options="doctor.first_name +' '+ doctor.last_name+' '+doctor.speciality for doctor in patientDoctors"></select>


          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading"><strong>Historia choroby</strong></div>
        <div class="panel-body">
          <table class = "table">
            <thead>
            <tr>
              <th>Data</th>
              <th>Rozpoznanie</th>
              <th>Lekarz</th>
              <th>Pliki</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="h in healthStory track by $index">
              <td>{{h.date | date:'yyyy-MM-dd'}}</td>
              <td>{{h.diagnosis}}</td>
              <td>{{h.doctor.first_name + ' ' + h.doctor.last_name}}</td>
              <td><a ng-href="http://localhost:3000/download/{{h.fileGuid}}">{{h.file}}</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<%include ../footer.ejs%>
