<%include ../header.ejs%>

<div class="panel panel-primary registration-panel" ng-app="register" ng-controller="registrationCtrl">

  <div class="panel-heading"><strong>Rejestracja Pacjenta</strong></div>
  <div class="panel-body">

    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Hasła muszą się zgadzać</strong>
    </div>

    <form class="form" action="/register" method="post">

      <div class="form-group">
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="role" id="role1" value="doctor" ng-model="role">
            Lekarz
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="role" id="role2" value="patient" ng-model="role">
            Pacjent
          </label>
        </div>
      </div>

      <div class="form-group-md">
        <input type="text" class="form-control" id="inputUsername" placeholder="Nazwa Użytkownika" name="username">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Imię" name="first_name">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="inputLastName" placeholder="Nazwisko" name="last_name">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="inputCity" placeholder="Miasto" name="city">
      </div>

      <div class="form-group" ng-if="role == 'patient'">
        <input type="text" class="form-control" id="inputPesel" placeholder="PESEL" name="pesel">
      </div>

      <div class="form-group" ng-if="role == 'doctor'">
        <input type="text" class="form-control" id="inputSpeciality" placeholder="Specjalizacja" name="speciality">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="Hasło" name="password">
      </div>

      <div class="form-group label-static">
        <input type="password" class="form-control" id="inputPassword2" placeholder="Potwierdzenie Hasła" name="password2">
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Rejestracja</button>

        <button type="button"  class="btn btn-danger">Anuluj</button>
      </div>
    </form>
  </div>
</div>

<%include ../footer.ejs%>
