<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/moment/moment.js"></script>

<script src="/components/bootstrap-css/js/bootstrap.min.js"></script>
<script src="/components/bootstrap-material-design/dist/js/material.js"></script>
<script src="/components/bootstrap-material-design/dist/js/ripples.js"></script>

<script src="/js/main.js"></script>

</body>
</html>
